/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/dumps
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Console/Commands/ImportData.php
/public/js/*.js