/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/public/img/producao
/storage/*.key
/storage/dumps/*
/storage/ssr/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Console/Commands/ImportData.php
/migra_sql
/documentation/node_modules
/storage/certs/jwt-rsa-4096-public.pem
/storage/certs/jwt-rsa-4096-private.pem
supervisord.log