/node_modules
/public/hot
/public/storage
/public/img/producao
/storage/*.key
/storage/dumps/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Console/Commands/ImportData.php
/public/js/*.js
/migra_sql
/documentation/node_modules