@import url(https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;500;700&display=swap);

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


