// It's highly recommended to change the default colors
// to match your app's branding.


$primary   = #08275e
$secondary = #424242
$accent    = #451e5f

$positive  = #4BBEAB
$negative  = #B05552
$info      = #35586A
$warning   = #D6B476

$light     = #bdbdbd
$dark      = #04091f
$faded     = #777

$input-text-color = $primary;
$input-label-color = $accent;

$generic-border-radius = 1px;
$body-font-size = 16px !default;



@import url('https://fonts.googleapis.com/css?family=Concert\+One|Lobster\+Two:400,700&display=swap');
.title-page {
  font-family: 'Concert One', sans-serif, cursive;
  border-bottom: 4px solid $accent;
}


@import '~quasar/src/css/variables.styl'
