// It's highly recommended to change the default colors
// to match your app's branding.


$primary   = #08275e
$secondary = #424242
$accent    = #9C27B0

$positive  = #4BBEAB
$negative  = #B05552
$info      = #35586A
$warning   = #D6B476

$light     = #bdbdbd
$dark      = #04091f
$faded     = #777

$input-text-color = $primary;
$input-label-color = #1a356e;
$generic-border-radius = 1px;

.text-light {
    color: $light
}

.home-cat-title{
    display: block
    border-left: solid $positive 5px
}

.card-home{
    border: solid $info 1px
}

.btn-mais-home{
    left: 9px
    box-shadow: inset 7px 0px 0px 0px $accent !important
}

.card-img
    width: 100%
    min-height: 185px
    max-height: 185px

@import '~quasar/src/css/variables.styl'
